<% provide :title, params[:active] == "followers" ?
  t(".followers") : t(".following") %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class = "user_index">
      <div class="row">
        <div class="col-md-11 lead"><%= params[:active] == "followers" ?
  t(".followers") : t(".following") %></div>
      </div>
      <hr/>
      <div id = "<%= params[:active] == "followers" ? "followers" :
        "following" %>_div" >
        <%= render "users/user_list" %>
      </div>
   </div>
  </div>
</div>
