<div class="panel panel-default">
  <div class="panel-body">
    <div class = "user_index">
      <div class="row">
        <div class="col-md-11 lead"><%= t ".title" %></div>
      </div>
      <hr/>
      <%= render @users %>
   </div>
  </div>
</div>
